.sam{
  background-image: url("../images/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: normal!important;
  color: white;
  padding: 200px;
  text-align: center;
}
.ibby{
  background-image: url("../images/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: normal!important;
  color: white;
  padding: 200px;
  text-align: center;
}
h2{
  text-align: center;
  color: white;
}
.nasra{
  background-color: transparent;
  background-image: url("../images/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: normal!important;
  padding:50px;
  text-align: center;
}

form{
  text-align: center;
}


footer{
  text-align: center;
}


.form-group{
  text-align: center!important;
  background-color: transparent!important;
  opacity: 0.6;
}
.button{
    text-align: center;
}
.down {
  text-align: center;
}
