.sam{
  background-image: url("../images/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: normal!important;
  color: white;
  padding: 200px;
  text-align: center;
}
.ibby{
  background-image: url("../images/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: normal!important;
  color: white;
  padding: 200px;
  text-align: center;
}
monday{
  padding-bottom: 
}
.nasra{
  background-image: url("../images/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: normal!important;
}
form{
  text-align: center;
}
p{
  text-align: center;
}
h2{
  text-align: center;
  color: white;
}

.footer{
  text-align: center;
}
.foot{
  text-align: center!important;
}
.george{
  background-color: transparent;
  opacity: 0.4;
  color: white;
  text-align: center;
}
.form-group{
  text-align: center!important;
  background-color: transparent!important;
  opacity: 0.6;
}
.button{
    text-align: center;
}
