.well{
  background-image: url("../images/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal!important;
  color: white;
}

.jumbotron{
  background-image: url("../images/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: normal!important;
}
p{
  text-align: center;
}
h2{
  text-align: center;
}
.footer{
  text-align: center;
}
foot{
  text-align: center;
}
